.container {
    background: var(--bg-color-dark);
    background: linear-gradient(350deg, var(--bg-color-darker) 0%, var(--bg-color-dark-soft) 39%, var(--bg-color-mid-soft) 40%, var(--bg-color-darker) 40.5%, var(--bg-color-dark-soft) 54%, var(--bg-color-mid-soft) 55%, var(--bg-color-darker) 55.5%, var(--bg-color-dark) 100%);
    padding: 1rem;
    padding-bottom: 3rem;
    border-top: .5rem solid var(--bg-color-dark);
    border-bottom: .5rem  solid var(--bg-color-darker);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 25rem;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    filter: drop-shadow(0 1rem 2rem black);
}

.title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    filter: drop-shadow(0 .3rem .3rem black);
}

.title > span {
    color: rgb(221, 204, 228);
    filter: drop-shadow(0px 0px .25rem rgb(110, 67, 129));
}