.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.container > a{
    color: var(--font-color-light-soft);
    padding: 1rem;
}

.container > a:hover {
    color: var(--bg-color-dark);
    background: var(--font-color-light-soft);
    border-radius: .2rem;
}

.link_divider {
    color: var(--font-color-light-soft);
    font-weight: bold;
    padding: 1rem 0rem 1rem 0rem;
    user-select: none;
}

.link_divider::after {
    content: "|";
}

@media screen and (max-width: 768px){

    .link_divider {
        margin: auto;
        width: 66%;
        max-height: .1rem !important;
        border-top: 2px solid var(--font-color-light-soft);
        transform: translate(0, 50%);
    }

    .link_divider::after {
        content: "";
    }
}